body {
    font-family: sans-serif;
    color: #001435;
    line-height: auto;
}

i {
    text-align: center; 
}


.info {
  text-align: center;
  line-height: 1.5;
  
}
#pet {
  background-color: #e8d6cd;
}

#recipe {
  background-color: #d7c6e1;
}

hr {
  border-color: black;
}

#travel {
  background-image: url("../images/nature-colorful-landscape-dusk-cloud.jpg");
}

h1 {
  font-size: 55px;
  font-family: "Agbalumo", sans-serif;
  text-align: center;
  top: 60px;
  padding: 50px;
  margin: 10px;
  position: relative;
  animation: appear 3s;
  color:white;
  -webkit-text-stroke: .5px black;
}

h2 {
  font-size: 30px;
  font-family: sans-serif;
  color: #001435; 
  text-align: center;
  padding: 10px;
  }



  h3 {
    font-size: 18px;
    font-family: sans-serif;
    color: #742f03; 
    text-align: center;
  }

  p {
    line-height: 1.5; 
    padding: 10px;
  }

  .big {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  img, video{
    display: inline-block;
    border: 5px solid #742f03; 
    border-radius: 10px;
    margin: 10px;
  }

  img:hover, video:hover {
    -webkit-box-shadow: 12px 12px 18px -6px black;
    -moz-box-shadow: 0 12px 18px -6px black;
    box-shadow: 0 12px 18px -6px black;
  }
  
  /* Style the list items */
  .pets li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px black dashed;
    border-radius: 50px;
    line-height: 30px;
  }

  ul li {
    padding: 10px;
    line-height: auto;
  }

  ol li {
    padding: 10px;
    line-height: 1.5;
  }


.skip a{
  background: white;
  left: 0;
  top: -40px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1ss ease-out;
  z-index: 1;
  position: absolute; 
}

.nav a {
  text-decoration: none;
  position: relative;
  transition: all .35s;
}

.nav {
  background-color: #001435; 
  position: fixed;
  width: 100%;
  top:0px;
  z-index: 1000;
}



.nav li {
  display: inline-block;
  font-family: sans-serif;
}

li a{
  color: white;
  text-align: center;
}
  
li a:hover {
  background-color: gray;
}

#recipe-list {
  display: none; 
}



.nav a:hover:after{
  width: 100%;
}

span {
  display: block;
}

#btn {
  background: #2825e6;
  background-image: -webkit-linear-gradient(top, #2825e6, #87b8d6);
  background-image: -moz-linear-gradient(top, #2825e6, #87b8d6);
  background-image: -ms-linear-gradient(top, #2825e6, #87b8d6);
  background-image: -o-linear-gradient(top, #2825e6, #87b8d6);
  background-image: linear-gradient(to bottom, #2825e6, #87b8d6);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  text-shadow: 1px 1px 3px #000000;
  color: #ffffff;
  font-size: 22px;
  padding: 24px;
  text-decoration: none;
}

#btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.nav a:after {
  
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;

}

.nav a span{
  position: relative;
  z-index: 2;
  display: inline-block;
}


.skip a:hover, .skip a:focus{
  background: gray;
  left: 0;
  top: 20px;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1ss ease-out;
  z-index: 1;
  position: absolute; 
}

li a.active {
  background-color: white;
  color: black;
  font-style: italic;
  text-transform: uppercase;
}


.container-food {
  display: grid; 
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.nav li a{    
      
  font-size: 25px;
}

img, video {
  width: 80%;
}

.nav li {
  margin-left: 0;
  padding: 5px;
}

.nav {
  padding: 5px;
  
}

.links {
  color: white; 
}


.container-pet {
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  align-items: center;
  justify-items: center;
}



@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; 
  }

  .skip a{
    -webkit-transition: none; 
    transition: none;       
   }

   
    .gif {
      display: none;
    }

    h1 {
      animation: none;
    }

}

.sub-nav {
  display: none;
}

figure {
  position: relative;
  z-index: inherit;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
}

figure:hover figcaption {
  opacity: 1;
}

.container-three {
  display: grid;
  z-index: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto); 
}

.container-three > figure:nth-child(odd){
  grid-column: 1/span 2;
}

.container-three > figure:nth-child(even) {
  grid-column: 2/span 2;
}

@media only screen and (min-width: 376px) {
  .sub-nav {
    display: block;

  }
  .sub-nav li {
    display: inline-block;
    font-family: sans-serif;
  
  }
  
  .sub-nav a {
    color: black;
  }
  
  .sub-nav {
    position:fixed;
    top: 50px;
    background-color: white;
    z-index: 1000;
  }
  

  .container-pet {
  
      grid-template-columns: 1fr 1fr;
  }



  .container-three {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto); 
    grid-gap: 10px;
  }


  .container-three > figure:nth-child(-1n + 3) {
    grid-column: span 4;
  }
  .container-three > figure:nth-last-child(2) {
    grid-row-start: 2;
    grid-column: 3 / span 4;
  }
  .container-three > figure:nth-last-child(1) {
    grid-row-start: 2;
    grid-column: 7 / span 4;
  }







}

  @media only screen and (min-width: 1025px) {
      .big {
        width: 40%
      }


    .container-pet {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container {
      display: flex; /* Use flexbox to create a horizontal layout */
    }
  

  .column {
  flex: 1; 
  margin: 10px; 
  background-color: white;
  padding: 30px;
}


  }
